# Global Git Ignore
# Version 260614.0927
# Version 260610.1214
# Version 260610.1211
# Version 260604.1109
# Version 260604.1049

.*/
.*
.env
\!*/
bin/
obj/
!.github/
!.husky/
!.gitignore
!.dockerignore
!.editorconfig
!.gitattributes
!.workspace
!.version*
*.lscache
*.DotSettings.user
